@import url(cuento.css);

@import url(./cabecera.css);

@import url(./parrafo.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #6c5227;
}

